[Unit]
Description=node dns service
After=network.target
StartLimitIntervalSec=0
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=public
ExecStart=/usr/bin/stream-copy.py

[Install]
WantedBy=multi-user.target
